.desktop-menu{
    width: 9rem;
    border: 1px solid var(--very-light-pink);
    border-radius:  0.37rem;
    padding: 1.25rem;
    padding-bottom: 0;
}

.desktop-menu ul{
    list-style: none;
}

.desktop-menu ul li{
    text-align: end;
}

.desktop-menu ul li:nth-child(1), .desktop-menu ul li:nth-child(2){
    font-weight: bold;
}

.desktop-menu ul li:last-child{
    padding-top: 1.25rem;
    display: block;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a{
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1.25rem;
}

