.email-image{
    align-self: center;
    background-color: var(--text-input-field);
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.email-image img{
    width: 5rem;
}

.resend{
    font-size: var(--sm);
}

.resend span{
    color: var(--very-light-pink);
}

.resend a{
    color: var(--hospital-green);
    text-decoration: none;
}