.my-orders .my-order-container .orders{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    align-items: center;
    margin-bottom: .75rem;
    padding: 1.5rem 0;

}

.my-orders .title{
    text-align: start;
    font-weight: bold;
    border-bottom: 1px solid var(--very-light-pink);
}

.orders p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.orders p:nth-child(2){
    text-align: end;
    font-weight: bold;
}

.orders p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;

}
.orders p span:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
    
}